{% extends "base.html" %}
{% load static %}
{% block link %}
{% endblock %}
{% block style %}
{% endblock %}
{% block logo %}
    <li><a href="#"><p style="color:#a5860e">stay hungry stay foolish</p></a></li>
{% endblock %}
{% block module %}
    <li><a href={% url "download" %}><p style="color:#ffffff">下载</p></a></li>
    <li><a href={% url "data" %}><p style="color:#ffffff">数据</p></a></li>
{% endblock %}
{% block index %}
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
    <div class="cy_text" style="text-align:center;">© Copyright 2017, Julia Liu.</div>
{% endblock %}
{% block script %}
{% endblock %}
