{% extends "strategy/base.html" %}
{% load static %}
{% block link %}
{% endblock %}
{% block style %}
{% endblock %}
{% block header_script %}
{% endblock %}
{% block index %}
    <div class="bs-config-sidebar sidebar" style="font-size:15px;">
        <ul class="nav nav-sidebar">
            <li><a id="financialData" href="{% url 'strategy_financial_data' %}" onclick="">财务数据</a>
                <ul>
                    <li><a id="queryFinancialData" href="{% url 'strategy_financial_data' %}" onclick="">查询数据</a>
                    </li>
                    <li><a id="financialStrategyAdd" href="{% url 'strategy_financial_add' %}" onclick="">添加策略</a>
                    </li>
                    <li><a id="financialStrategyUpdate" href="{% url 'strategy_financial_update' %}" onclick="">修改策略</a>
                    </li>
                </ul>
            </li>
            <li id="RobertoChen"><a href="javascript:void(0)" onclick="">RobertoChen</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}
{% endblock %}
{% block script %}
{% endblock %}
