{% extends "strategy/data.html" %}
{% block link %}
{% endblock %}
{% block style %}
    table
    {
    border-collapse: collapse;
    border-spacing: 0;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    }
    th, td
    {
    border: 1px solid #b5d6e6;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    height: 20px;
    }
    ths
    {
    background-color: Gray;
    }

    input
    {
    width:200px;
    height:20px;
    border:1px solid Gray;
    }
    span
    {
    font-weight:bold;
    color:#5e5e5e;
    width:40px;
    display:inline-block;
    }
{% endblock %}
{% block header_script %}
{% endblock %}
{% block content %}
    <div id="queryDiv" style="height:40px;margin-top:10px;margin-left:40px;">
        <span type="text">代码:</span>
        <input id="codes" title="代码" value="300438" type="text"/>
        <span type="text"></span>
        <span type="text">时间:</span>
        <input id="dates" title="时间" value="2017-09-30,2016-12-31,2015-12-31" type="text"/>
        <span type="text">策略:</span>
        <select id="strategySelect" title="财务策略" style="width:200px;" onchange="" data-strategies="{{ all_strategies }}">
            <option value="">请选择财务策略</option>
        </select>
        <span type="text"></span>
        <button id="queryData" onclick="getData()">查询</button>
        <a id="saveExcel" style="display:none" href="#">下载excel</a>
        <a id="saveCsv" style="display:none" href="#">下载csv</a>
    </div>
    <div id="dataDisplayDiv" style="margin-top:10px;"></div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            var strategySelectObj = document.getElementById("strategySelect");
            var allStrategiesJson = strategySelectObj.getAttribute("data-strategies");
            var allStrategies = JSON.parse(allStrategiesJson);
            for (var strategy in allStrategies) {
                if (allStrategies.hasOwnProperty(strategy)) {
                    var optionObj = document.createElement("option");
                    optionObj.setAttribute("value", strategy);
                    optionObj.textContent = allStrategies[strategy];
                    strategySelectObj.appendChild(optionObj);
                }
            }
        });

        function getData() {
            $.ajax({
                type: "POST",
                data: {
                    "codes": $("#codes").val(),
                    "dates": $("#dates").val(),
                    "strategy": $("#strategySelect").val()
                },
                url: "{% url 'strategy_financial_data' %}",
                timeout: 2000,
                success: function (result) {
                    var saveExcelObj = document.getElementById("saveExcel");
                    var saveCsvObj = document.getElementById("saveCsv");
                    var data = JSON.parse(result);
                    var download_url = "{% url 'file_download' %}";

                    document.getElementById("dataDisplayDiv").innerHTML = data["table_data"];
                    $("[rowspan]").click(function () {
                        newWindow.call(this);
                    });

                    saveExcelObj.setAttribute("style", "");
                    saveExcelObj.setAttribute("href", download_url + "?uuid=" + data["uuid"] + "&type=xls");
                    saveCsvObj.setAttribute("style", "");
                    saveCsvObj.setAttribute("href", download_url + "?uuid=" + data["uuid"] + "&type=csv");
                },
                error: function (xhr) {
                    alert("获取信息失败: " + xhr.statusText + ", details: " + xhr.status);
                }
            });
        }

        function newWindow() {
            debugger;
            alert(this.textContent);
        }
    </script>
{% endblock %}
